.parallax {
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#developer {
    background-image: url("../pictures/computer-science.jpg");
}

#climber {
    background-image: url("../pictures/climbing.jpeg");
}

#musician {
    background-image: url("../pictures/music.jpg");
}

.parallax-text {
    height: 250px;
    background-color: Navy;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    font-size: 72px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
}

#developer-text {
    background-image: url("../pictures/chip-croped.jpeg");
}

#climber-text {
    background-image: url("../pictures/climbing-gear.jpeg");
}

#musician-text {
    background-image: url("../pictures/piano.jpeg");
}

.circle-image {
    border-radius: 50%;
}

.home-image {
    max-width: 100%;
    object-fit: cover;
}

body {
    margin-top: 55px;
}

.home-page-text {
    text-align: center;
    font-size: 200%;
}

.home-page-title {
  text-align: center;
  font-size: 1200px;
  font-weight: bold;
}




.home-row {
  border-top-width: 3px;
  border-style: solid;
  /* get rid of side borders */
}


#meText {
    background-image: url("../pictures/me-text-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#resumeText {
    background-image: url("../pictures/resume-text-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#projectsText {
    background-image: url("../pictures/projects-text-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#personalText {
    background-image: url("../pictures/home-back2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#leadershipText {
    background-image: url("../pictures/leadership-text-back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#mePic {
  background-image: url("../pictures/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

#projectsPic {
  background-image: url("../pictures/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

#resumePic {
  background-image: url("../pictures/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

#personalPic {
  background-image: url("../pictures/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

#leadershipPic {
  background-image: url("../pictures/me.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

