.parallax {
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#developer {
    background-image: url("../pictures/computer-science.jpg");
}

#climber {
    background-image: url("../pictures/climbing.jpeg");
}

#musician {
    background-image: url("../pictures/music.jpg");
}

.parallax-text {
    height: 250px;
    background-color: Navy;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    font-size: 72px;
    color: white;
}
